<div class="food-panel">
  <i [ngStyle]="color" class="{{aboutCard.icon}} icon"></i>
  <h1 class="c-header1">{{aboutCard.title}}</h1>
  <p class="text">{{aboutCard.description}}</p>
</div>

<div class="food-panel">
  <i style="color:{{aboutCard.color}};" class="{{aboutCard.icon}} icon"></i>
  <h1 class="c-header1">{{aboutCard.title}}</h1>
  <p class="text">{{aboutCard.description}}</p>
</div>

<div class="food-panel">
  <i style="color:{{aboutCard.color}};" class="{{aboutCard.icon}} icon"></i>
  <h1 class="c-header1">{{aboutCard.title}}</h1>
  <p class="text">{{aboutCard.description}}</p>
</div>





