<div class="large-panel">
  <div class="panel-left">
    <img class="panel-image" src="../../../assets/food/food1.jpg" alt="">
  </div>
  <div class="panel-right">
    <h1 class="panel-header"></h1>
    <p class="panel-desc"></p>
  </div>
  <div class="embed-container">
    <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="map1 test" src="//jhong42.maps.arcgis.com/apps/Embed/index.html?webmap=600883fe0c53421794add727acf4e355&extent=-75.9602,42.075,-75.8655,42.1198&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light">
    </iframe>
  </div>
</div>
