<div class="large-panel">
  <div class="panel-left">
    <img class="panel-image" src="../../../assets/food/food1.jpg" alt="">
  </div>
  <div class="panel-right">
    <h1 class="panel-header">Come to Our New Food Pantry</h1>
    <p class="panel-desc">
      counter don't get off counter. Touch water with paw then recoil in horror.
      Cough attack dog, run away and pretend to be victim but ooh, are those your
      $250 dollar sandals? lemme use that as my litter box for eat half my food and
      ask for more but hiss at vacuum cleaner, for give attitude. Love blinks and
      purr purr purr purr yawn. Scream for no reason at 4 am tickle my belly at your
      own peril i will pester for food when you're in the kitchen even if it's salad or
      friends are not food experiences short bursts of poo-phoria after going to the loo hack, yet chase dog then run away. Sit in box get suspicious of own shadow then go play with toilette paper yet bird bird bird bird bird bird human why take bird out i could have eaten that but check cat door for ambush 10 times before coming in love to play with owner's hair tie i like fish, so give me attention or face the wrath of my claws. Leave fur on owners clothes decide to want nothing to do with my owner today yet sit and stare stretch ooooh feather moving feather!, and chill on the couch table for purrrrrr.
      Cough furball jump off balcony, onto stranger's head. Allways wanting food flop over, or intently sniff hand.
    </p>
  </div>
</div>

<!--<div class="embed-container">-->
  <!--<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="map1 test" src="//jhong42.maps.arcgis.com/apps/Embed/index.html?webmap=600883fe0c53421794add727acf4e355&extent=-75.9602,42.075,-75.8655,42.1198&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light">-->
  <!--</iframe>-->
<!--</div>-->
